.compare {
    font-weight: bold;
    color: #00F;
}
.swap {
    font-weight: bold;
    color: #F00;
}

.start-btn-block {
    display: contents;
}

.canvas-block {
    width: 100%;
    height: 100%;
}
